.comp__block {
    padding: 2rem 0;

    &.has-media {
        padding-top: 0;

        @media(min-width: 576px) {
            padding-top: 2rem;
        }

        .media-col {
            padding: 0;

            @media(min-width: 576px) {
                padding: 0 1rem;
            }
        }
    }
    
    &.blue {
        background-color: $blue;
        color: #FFF;
    }

    &.grey {
        background-color: #f2f2f2;
    }

    &.white {
        background-color: #FFF;
    }

    &.hero-background {
        background-image: url('../img/bottom-image.jpg');
        background-size: cover;
        background-position: top center;

        @media(min-width: 992px) {
            background-image: url('../img/bottom-image.jpg');
            background-position: 0 60%;
        }

        h2 {
            color: #FFF;
            text-shadow: 0 0 10px #000;
        }
    }

    .intro-text {
        padding: 1rem 0;
        color: #333;

        @media(min-width: 480px) {
            padding: 2rem;
        }

        > p {
            text-align: center;
            font-size: 1.15rem;
        }

        .price {
            color: #e16917;
            font-size: 1.75rem;
            text-align: center;

            @media (min-width: 348px) {
                font-size: 2rem;
            }

            @media(min-width: 1200px) {
                text-align: left;
                margin-bottom: 0;
            }
        }

        .comp__packages {

            .package {
                padding: 0;
                box-shadow: none;
                text-align: center;
                max-width: none;
                margin: 0;

                ul {

                    &.summary-list {
                        margin-bottom: 0;

                        @media(min-width: 1200px) {
                            display: flex;
                            justify-content: space-between;
                        }

                        li {
                            margin-bottom: 0.5rem;

                            @media(min-width: 1200px) {
                                position: relative;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }

                            span {
                                &.helper-text {
                                    @media(min-width: 1200px) {
                                        position: absolute;
                                        z-index: 10;
                                    }
                                }
                            }

                            a {
                                @media(min-width: 348px) {
                                    font-size: 1.1rem;
                                }

                                strong {
                                    @media(min-width: 348px) {
                                        font-size: 1.1rem;
                                    }
                                }

                                span {

                                    &.helper {
                                        font-size: 0.8rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    h2 {
        margin-bottom: 1rem;
        font-weight: 900;
    }

    .btn {
        display: block;
        padding: 0.75rem 1rem;
        font-size: 1.2rem;
        margin-bottom: 1rem;

        @media(min-width: 768px) {
            display: inline-block;
        }
    }

    .accordion {

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #FFF;
            padding: 1rem;
            width: 100%;
            border: 0;
            margin-top: 1rem;
            border: 1px solid #FFF;
            border-bottom: 0;
            box-shadow: 1px 1px 5px #cecece;
            font-weight: bold;
            text-align: left;

            &:focus {
                outline: none;
            }

            &:active {
                color: #333;
            }

            &:after {
                content: "";
                display: inline-block;
                width: 15px;
                height: 15px;
                background-image: url('../img/chevron-down-blue.svg');
                background-size: 15px 15px;
                background-position: top right;
                background-repeat: no-repeat;        
            }

            &.currently-selected {
                border-color: $blue;
                background-color: #e6f3ff;
                box-shadow: none;

                &:after {
                    transform: rotate(-180deg);
                    transition: transform 0.25s ease;
                }

                & + .body {
                    border-color: $blue;
                    background-color: #e6f3ff;
                }
            }

            strong {
                text-align: left;
                padding-right: 1rem;
            }

            .icon {
                width: 15px;
            }
        }

        .body {
            display: none;
            padding: 1rem;
            background-color: #FFF;
            border: 1px solid #FFF;
            border-top: 0;
        }
    }

    .body-number {
        font-size: 1.5rem;
        
        a {
            color: #FFF;
        }

        small {
            font-size: 1rem;
        }
    }

    .arrow-down {

        &:after {
            background-image: url('../img/arrow-down-blue.svg');
            width: 40px;
            height: 40px;
            background-size: 40px 40px;
            content: "";
            display: inline-block;
            position: absolute;
            bottom: -65px;
            left: 50%;
            transform: translateX(-50%);

            @media(min-width: 580px) {
                content: none;
            }
        }
    }
}