.comp__contact-bar {
    background-color: $blue;
    color: #FFF;

    a {
        display: inline-block;
        color: #FFF;
        font-weight: 500;

        &#nav-toggle {
            margin-right: 1rem;

            .icon {

                &.open {
                    display: inline-block;
                }

                &.close {
                    display: none;
                }
            }

            &.is-open {

                .icon {

                    &.open {
                        display: none;
                    }

                    &.close {
                        display: inline-block;
                    }
                }
            }
        }

        &.btn {
            padding: 0.75rem;
            font-weight: bold;
        }

        &.phone-icon {
            visibility: hidden;
            font-size: 0.5rem;

            &:before {
                content: "";
                visibility: visible;
                width: 30px;
                vertical-align: middle;
                display: inline-block;
                height: 30px;
                background-image: url('../img/phone-icon.svg');
                background-size: 30px 30px;
                transform: rotate(-90deg);
                margin-top: -5px;
            }
        }
    }

    .icon {
        display: inline-block;
        width: 30px;
        vertical-align: middle;

        &.rotated {
            transform: rotate(-90deg);
        }

        &.smaller {
            width: 20px;
        }
    }
}