.comp__form {
    text-align: left;
    color: #333;
    background-color: #FFF;

    @media(min-width: 992px) {
        max-width: 1000px;
        margin: 0 auto;
    }

    h2 {
        padding: 1rem 1rem 0 1rem;
    }

    .comp__packages {
        padding: 0 1rem;

        .package {
            padding: 0;
            margin-bottom: 0;
            box-shadow: none;
        }
    }
    
    form {
        padding: 1rem;
        background-color: #EEE;

        label {
            font-weight: 900;
            font-size: 1rem;
            margin-bottom: 0.25rem;

            &.form-check-label {
                font-size: 0.9rem;
            }
        }

        input {
            border-radius: 0;

            &[type="text"],
            &[type="email"],
            &[type="tel"] {
                height: 3rem;
            }
        }

        textarea {
            @media(min-width: 992px) {
                height: 200px;
            }
        }

        button {
            display: block;
            width: 100%;

            @media(min-width: 992px) {
                width: auto;
                padding: 0.5rem 2rem;
                margin-left: auto;
            }

            &.form-submitted {
                opacity: 0.5;
                background-color: #158015;
                pointer-events: none;
            }
        }

        .error-messages {
            padding: 1rem;
            font-size: 0.95rem;
            color:#bf1111;
            background-color:#f7cdcd;
            border: 1px solid #ffbcbc;
            margin-bottom: 1rem;

            ul {
                margin-bottom: 0;
                padding-left: 1rem;

                li {
                    margin-bottom: 0.25rem;
                }
            }
        }
    }
}