.comp__navigation {
    height: 0;
    overflow-y: hidden;
    transition: height 0.5s ease;

    &.is-open {
        height: 362px;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: center;
        padding-top: 1rem;

        li {

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: lighten($blue, 5%);
            }

            a {
                position: relative;
                display: block;
                padding: 0.5rem 0;
                margin: 0.25rem 0;
            }
        }
    }

    @media(min-width: 1200px) {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            padding-top: 0;

            li {
                display: inline-block;

                &:after {
                    content: none;
                }

                a {
                    padding: 0.5rem 1rem;
                    margin: 0;

                    &:hover,
                    &:focus {
                        background-color: lighten($blue, 10%);
                    }
                }
            }
        }
    }
}