.comp__packages {

    .package {
        background-color: #FFF;
        padding: 1.5rem;
        box-shadow: 1px 1px 5px #cecece;
        max-width: 550px;
        margin: 0 auto 2rem auto;

        .title {
            padding: 0.75rem 1.5rem;
            margin-left: -1.5rem;
            display: inline-block;
            font-weight: 900;
            margin-bottom: 1rem;
            text-transform: uppercase;
            line-height: 1.2;
            letter-spacing: 1px;
        }

        .price {
            font-size: 2rem;
            font-weight: 900;
            line-height: 1.25;

            small {
                font-size: 1.2rem;
                font-weight: inherit;
            }
        }
        
        ul {
            list-style: circle;
            padding-left: 1rem;

            li {
                padding-left: 0.5rem;
            }

            &.summary-list {
                list-style: none;
                padding-left: 0;
                margin-top: 1rem;

                li {
                    margin-bottom: 0.25rem;
                    padding-left: 0rem;

                    a {
                        &.helper-info {
                            display: inline-block;
                            color: inherit;
                            font-size: 0.8rem;

                            strong {
                                font-size: 1rem;
                            }

                            span {

                                &.helper {
                                    display: inline-block;
                                    margin-left: 0.25rem;
                                    width: 18px;
                                    height: 18px;
                                    vertical-align: top;
                                    border: 1px solid #000;
                                    border-radius: 50%;

                                    img {
                                        display: none;
                                        width: 16px;
                                        height: 16px;
                                        margin-top: -6px;

                                        &.open {
                                            display: inline-block;
                                        }
                                    }
                                }
                            }

                            &.is-open {

                                span {

                                    &.helper {

                                        img {

                                            &.open {
                                                display: none;
                                            }

                                            &.close {
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }

                                & + .helper-text {
                                    display: block;
                                }
                            }
                        }
                    }

                    .helper-text {
                        display: none;
                        margin: 0.25rem 0 0.5rem 0;
                        background-color: #DCEAF9;
                        border: 1px solid #9fc7f2;
                        padding: 1rem;
                        font-size: 0.8rem;

                        p {

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
        
        &.lift-up {
            margin-top: -12rem;
        }

        &.bronze {
            
            .title {
                background-color: $bronze;
                color: #FFF;
            }
        }

        &.silver {
            
            .title {
                background-color: $silver;
            }
        }

        &.gold {

            .title {
                background-color: $gold;
                color: #FFF;
            }
        }

        &.best-value {
            position: relative;
            overflow: hidden;

            &:before {
                content: "Best Value";
                position: absolute;
                text-transform: uppercase;
                background-color: $orange;
                color: #FFF;
                font-weight: 900;
                font-size: 0.8rem;
                padding: 0.25rem 2rem;
                transform: rotate(45deg);
                top: 1.5rem;
                right: -2rem;
            }
        }

        &.scale-up {
            @media(min-width: 1200px) {
                transform: scale(1.05);
            }
        }

        .btn {
            padding: 0.75rem 2rem;
            display: block;
            text-align: center;
            letter-spacing: 1px;
        }
    }
}