.core__footer {
    background-color: $blue;
    padding: 1rem;
    color: #FFF;
    text-align: center;

    p {
        margin-bottom: 0.25rem;

        strong {
            font-size: 1.75rem;
            display: inline-block;

            a {
                color: #FFF;
            }
        }
    }
}