.core__header {
    background-image: url('../img/hero-bg-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 1.25rem 0;
    text-align: center;
    color: #FFF;

    @media(min-width: 992px) {
        background-image: url('../img/hero-bg-mobile.jpg');
        background-position: center;
    }

    img {

        &.logo {
            max-width: 180px;
            display: block;
            margin: 0 auto 1.25rem auto;

            @media(min-width: 992px) {
                max-width: 250px;
            }
        }
    }

    h1 {
        text-transform: uppercase;
        font-size: 2rem;
        text-shadow: 0 0 5px #000;
        line-height: 1;
        margin-bottom: 1.25rem;

        @media (min-width: 348px) {
            font-size: 2.75rem;
        }

        @media(min-width: 1200px) {
            font-size: 4.5rem;
            max-width: 1000px;
            margin: 3.25rem auto;

            span {
                display: block;

                &.satellite {
                    font-size: 6.7rem;
                }

                &.broadband {
                    font-size: 5.5rem;
                }
            }
        }
    }

    .tagline {
        background: rgba(0, 59, 117, 0.65);
        padding: 0.75rem 0;
        line-height: 1.25;
        margin-bottom: 2rem;
        font-size: 1.3rem;

        @media(min-width: 1200px) {
            background: none;
            padding: 0;
            margin-bottom: 3rem;

            .container {
                background: rgba(0, 59, 117, 0.65);
                padding: 1rem;
            }
        }
    }

    .icon {
        display: inline-block;
        background: rgba(255,255,255,0.5);
        width: 35px;
        height: 35px;
        border-radius: 50%;

        img {
            width: 20px;
            margin-top: 7px;
        }
    }

    .join-today {
        padding: 0.5rem 5rem;
    }
}