@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-0.5rem);
    }

    50% {
        -webkit-transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-0.5rem);
    }
}

@keyframes bounce {
    0% {
        -webkit-transform: translateY(-0.5rem);
                transform: translateY(-0.5rem);
    }

    50% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-0.5rem);
                transform: translateY(-0.5rem);
    }
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: rotate(-2deg);
    }

    25% {
        -webkit-transform: rotate(2deg);
    }

    50% {
        -webkit-transform: rotate(-2deg);
    }

    75% {
        -webkit-transform: rotate(2deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes shake {
    0% {
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
    }

    25% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
    }

    50% {
        -webkit-transform: rotate(-2deg);
                transform: rotate(-2deg);
    }

    75% {
        -webkit-transform: rotate(2deg);
                transform: rotate(2deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}

@-webkit-keyframes pulseOne {
    0% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0;
    }
    
    70% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0.75;
    }
    
    100% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0.25;
    }
}

@keyframes pulseOne {
    0% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0;
    }
    
    70% {
        -webkit-transform: scale(1.5);
                transform: scale(1.5);
        opacity: 0.75;
    }
    
    100% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0.25;
    }
}

@-webkit-keyframes pulseTwo {
    0% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0;
    }
    
    70% {
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
        opacity: 0.5;
    }
    
    100% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0.15;
    }
}

@keyframes pulseTwo {
    0% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0;
    }
    
    70% {
        -webkit-transform: scale(2.5);
                transform: scale(2.5);
        opacity: 0.5;
    }
    
    100% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0.15;
    }
}

@-webkit-keyframes pulseThree {
    0% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0;
    }
    
    70% {
        -webkit-transform: scale(3.5);
                transform: scale(3.5);
        opacity: 0.25;
    }
    
    100% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0.10;
    }
}

@keyframes pulseThree {
    0% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0;
    }
    
    70% {
        -webkit-transform: scale(3.5);
                transform: scale(3.5);
        opacity: 0.25;
    }
    
    100% {
        -webkit-transform: scale(0.95);
                transform: scale(0.95);
        opacity: 0.10;
    }
}

.bounce {
    position: relative;
    animation: bounce 1.25s infinite;
}

.shake {
    animation: shake 0.5s;
}

[data-fadein] {
    opacity: 0;

    &.fadeIn {
        opacity: 1;
        transition: opacity 1s ease;
    }
}

.coverage-animation-wrapper {
    display: inline-block;
    position: relative;

    .coverage-animation {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);

        .pulses-wrapper {
            position: relative;
            width: 20px;
            height: 20px;

            span {
                display: inline-block;
                height: 30px;
                width: 30px;
                border-radius: 50%;
                transform: scale(1);
                position: absolute;
                top: 0;
                left: 0;

                &.pulseOne {
                    background: #5961ba;
                    animation: pulseOne 2s infinite;
                    z-index: 3;
                }
        
                &.pulseTwo {
                    background: #5961ba;
                    animation: pulseTwo 2s infinite;
                    z-index: 2;
                }

                &.pulseThree {
                    background: #5961ba;
                    animation: pulseThree 2s infinite;
                    z-index: 1;
                }
            }
        }
    }

    .satellite-icon {
        position: absolute;
        z-index: 4;
        top: 15px;
        right: -25px;
    }
}