@font-face {
    font-family: Circular;
    src: url('../fonts/CircularStd-Book.otf');
    font-family: Gotham-Black;
    src: url('../fonts/Gotham-Black.otf');
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Circular', Helvetica, Arial, sans-serif;
    color: #333;
}

a {

    &:hover,
    &:focus {
        text-decoration: none;;
    }
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: 'Gotham-Black', Montserrat, Helvetica, Arial, sans-serif;
}