.blue-text {
    color: $blue;
}

.orange-text {
    color: $orange;
}

.btn {
    border-radius: 0;
    border: 0;
    font-weight: 900;
}

.btn-blue {
    background-color: $blue;
    color: #FFF;

    &:hover,
    &:focus {
        background-color: $blue_hover;
        color: #FFF;
    }
}

.btn-orange {
    background-color: $orange;
    color: #FFF;

    &:hover,
    &:focus {
        background-color: $orange_hover;
        color: #FFF;
    }
}

.trustpilot-logo {
    width: 170px;
    height: 50px;
}

.container {

    &.shrink {
        max-width: 600px;
    }
}